* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'Aileron';
    font-weight: 300;
    font-style: normal;
}

 .tete {
    color: white;
    padding: 20px;
    margin: 0px;
    background-color: #1c9db9;
    font-family: 'aileron';
    font-size: 20pt;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding-left: 10px;
    padding-right: 10px;
}

.titre {
    color: #1c9db0;
    font-size: 20pt;
    font-family: 'Aileron';
    text-align: center;
    font-weight: lighter;
    margin-top: 50px;
}

.connexion {
    margin-left: 400px;
    margin-top: 50px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #1c9db0;
    width: 200px;
}

 h3 {
    font-family: 'aileron';
    font-size: 18pt;
    font-weight: lighter;
}

h4 {
    font-family: 'aileron';
    font-weight: lighter;
    font-size: 12pt;
    margin-top: 10px;
}

.nouvcompt {
    margin-left: 700px;
    margin-top: -166px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #1c9db0;
    width: 200px;
    right: 200px;
}
footer {
    background-color: #1c9db0;
    margin: 0px;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:30px;
}