* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

 .tete {
    color: white;
    padding: 20px;
    margin: 0px;
    background-color: #1c9db9;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding-left: 10px;
    padding-right: 10px;
}

.titre {
    color: #1c9db0;
    font-size: 20pt;
    
    
}