* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'Aileron';
    font-weight: 300;
    font-style: normal;
}

h1 {
    text-align: center;
    font-family: 'aileron';
    font-weight: lighter;
    font-size: 30pt;
}

h2 {
    font-family: 'aileron';
    font-weight: normal;
    font-size: 20pt;
   
}

h3 {
    font-family: 'aileron';
    font-size: 18pt;
    font-weight: lighter;
    margin-bottom: 20px;
}

h4 {
    font-family: 'aileron';
    font-size: 15pt;
    font-weight: normal;
}

/*Connexion*/

.titre {
    color: #1c9db0;
    font-size: 20pt;
    font-family: 'Aileron';
    text-align: center;
    font-weight: lighter;
    margin-top: 50px;
}

.ladiv {
    display: flex;
    justify-content: space-around;
    padding-left: 250px;
    padding-right: 250px;
}
.connexion {
    margin-top: 50px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #1c9db0;
}

.connexion h3 {
    text-align: center;
}

label {
    font-family: 'aileron';
    font-weight: lighter;
    font-size: 12pt;
    margin-top: 10px;
}

.nouvcompt {
    margin-top: 50px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #1c9db0;
}

.nouvcompt h3 {
    text-align: center;
}

.bouton {
    background-color: white;
    font-family: 'aileron';
    font-weight: lighter;
    color: #1c9db0;
    text-transform: capitalize;
    border-color: #1c9db0;
    padding: 5px;
    display: block;
    margin: auto;
}

/*Mon mur*/

.mur {
    border-style: solid;
    border-width: 1px;
    border-color: #1c9db0;
    margin-top: 50px;
    padding: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.bordure {
    border-style: none;
    text-align: left;
    font-family: 'aileron';
    color:#1c9db0;
}

.post {
    display: flex;
    color: black;
}

.post p{
   margin-left: 30px;
   font-size: 10pt;
   font-size: 9pt;
   margin-top: 8px;
}

.nombre {
    display: flex;
    justify-content: center;
    
}

.pouce {
    height: 50px;
    width: 35px;
    margin-right: 200px;
}

.croix {
    height: 15px;
    width: 15px;
}

.mur h3 {
    font-weight: bold;
}

.contenus {
    color: #1c9db0;
}

.post_1 {
    font-family: 'aileron';
    border-style: none;
    font-size: 15pt;
    display: flex;
}

.post_2 {
    font-family: 'aileron';
    border-style: none;
}
/*Profil*/

.tout {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-left: 20px;
}

.carre {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 250px;
    text-align: center;
    
}

.moi {
    border-style: solid;
    border-width: 1px;
    border-color: #1c9db0;
    padding: 30px;
}

.moi form {
    font-family: 'aileron';
    font-weight: lighter;
}

.perso h3{
    font-size: 12pt;
}

.bouton1 {
    background-color: white;
    font-family: 'aileron';
    font-weight: lighter;
    color: #1c9db0;
    text-transform: capitalize;
    border-color: #1c9db0;
    padding: 5px;
    
}

.mesamis {
    border-style: solid;
    border-width: 1px;
    border-color: #1c9db0;
    padding: 30px;
    width: 300px;
    margin-right: 45px;
}

.mesamis h2 {
    text-align: center;
}

.attente {
    border-style: solid;
    border-width: 1px;
    border-color: #1c9db0;
    margin-top: 50px;
    padding: 20px;
    width: 300px;
}

.amis {
    border-style: solid;
    border-width: 1px;
    border-color: #1c9db0;
    margin-top: 50px;
    padding: 20px;
    width: 300px;
}

.recherche {
    border-style: solid;
    border-width: 1px;
    border-color: #1c9db0;
    margin-top: 50px;
    padding: 20px;
    width: 300px;
}

.recherche h4 {
    margin-bottom: 10px;
}

.rechbout {
    margin-bottom: 10px;
}

 .tete {
    color: white;
    padding: 20px;
    margin: 0px;
    background-color: #1c9db9;
    font-family: 'aileron';
    font-size: 20pt;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    font-family: 'aileron';
    justify-content: space-between;
}

.container a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
    margin-right: 20px;
}

.bonjour {
    font-family: 'aileron';
    font-weight: lighter;
    font-size: 20pt;
    margin-left: 80px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    color: #1c9db0;
}

.bonjour a {
    color: #1c9db0;
    text-decoration: none;
    font-size: 15pt;
}

/*page erreur 404*/

.pls {
    width: 400px;
    height: 300px;
}

p {
    font-family: 'aileron';
    display: flex;
    justify-content: center;
    font-size: 15pt;
}

/*footer*/

footer {
    background-color: #1c9db0;
    position: relative;
    bottom:0;
    width:100%;
    padding-top:50px;
    margin-top: 60px;
    height:30px;
    color: white;
}
