* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'Aileron';
    font-weight: 300;
    font-style: normal;
}

body {
    min-height: 100%;
    position: relative;
}

html {
    height: 100%;
}

.ensemble {
    padding-bottom: 10%;
}

h1 {
    text-align: center;
    font-family: 'aileron';
    font-weight: lighter;
    font-size: 30pt;
}

h2 {
    font-family: 'aileron';
    font-weight: normal;
    font-size: 20pt;
   
}

h3 {
    font-family: 'aileron';
    font-size: 18pt;
    font-weight: lighter;
    margin-bottom: 20px;
}

h4 {
    font-family: 'aileron';
    font-size: 15pt;
    font-weight: normal;
}

/*Connexion*/

.titre {
    color: #1c9db0;
    font-size: 20pt;
    font-family: 'Aileron';
    text-align: center;
    font-weight: lighter;
    margin-top: 50px;
}

.titre p {
    padding: 60px;
    font-size: 18pt;
}

.ladiv {
    display: flex;
    justify-content: space-around;
    padding-left: 250px;
    padding-right: 250px;
}
.connexion {
    margin-top: 50px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #1c9db0;
}

.connexion h3 {
    text-align: center;
}

.logo {
    font-family: 'aileron';
    font-size: 18pt;
    font-weight: lighter;
    margin-bottom: 20px;
}

label {
    font-family: 'aileron';
    font-weight: lighter;
    font-size: 12pt;
    margin-top: 10px;
}

.nouvcompt {
    margin-top: 50px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #1c9db0;
}

.nouvcompt h3 {
    text-align: center;
}

.bouton {
    background-color: white;
    font-family: 'aileron';
    font-weight: lighter;
    color: #1c9db0;
    text-transform: capitalize;
    border-color: #1c9db0;
    padding: 5px;
    display: block;
    margin: auto;
}

/*Mon mur*/

.mur {
    border-style: solid;
    border-width: 1px;
    border-color: #1c9db0;
    margin-top: 50px;
    padding: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.bordure {
    border-style: none;
    text-align: left;
    font-family: 'aileron';
    color:#1c9db0;
}

.post {
    display: flex;
    color: black;
}

.post p{
   margin-left: 30px;
   font-size: 10pt;
   margin-top: 8px;
}

.nombre {
    display: flex;
    justify-content: center;
}

.pouce {
    width: 10%;
    text-align: center;
    margin-left: 0%;
    margin-top: 28px;
}

.numero {
    margin-left: 0% !important;
    margin-top: 28px !important;
}

.like {
    display: flex;
    justify-content: center;
    width:100%;
}

.si {
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 10pt;
}

.si .numero {
    font-size: 10pt;
    margin-top: 0px !important;
}

.si .pouce {
    margin-top: 0px !important;
}

.tsi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post1{
    display: flex;
    flex-direction: row;
}

.croix {
    height: 15px;
    width: 15px;
}

.mur h3 {
    font-weight: bold;
}

.contenus {
    color: #1c9db0;
}

.post_1 {
    font-family: 'aileron';
    border-style: none;
    font-size: 15pt;
    display: flex;
}

.post_2 {
    font-family: 'aileron';
    border-style: none;
}

.taille {
    width: 40%;
}

.taille2 {
    width: 100%;
}

.postimage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*Profil*/

.tout {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-left: 20px;
}

.carre {
    display: flex;
    justify-content: space-around;
    height: 250px;
    text-align: center;
}

.moi {
    border-style: solid;
    border-width: 1px;
    border-color: #1c9db0;
    padding: 30px;
    width: 500px;
}

.moi form:first-child {
    font-family: 'aileron';
    font-weight: lighter;
    text-align: center;
    display: flex;
    justify-content: left;
   flex-direction: column;
}
.perso h3{
    font-size: 12pt;
}

form {
    font-family: 'aileron';
    font-weight: lighter;
}

.bouton2 {
    font-family: 'aileron';
    font-weight: lighter;
    text-align: center;
    display: flex;
    justify-content: left;
   flex-direction: column;
   align-items: flex-start;
}

form .bouton1 {
    background-color: white;
    font-family: 'aileron';
    font-weight: lighter;
    color: #1c9db0;
    text-transform: capitalize;
    border-color: #1c9db0;
    padding: 5px;
    display: flex;
    justify-content: left;
}

.champ {
    display: flex;
    justify-content: left;
}

.mesamis {
    border-style: solid;
    border-width: 1px;
    border-color: #1c9db0;
    padding: 30px;
    width: 300px;
    margin-right: 45px;
}

.mesamis a {
    text-decoration: none;
    color:#1c9db0;
    font-family: 'aileron';
    font-weight: lighter;
}

.mesamis a:hover {
    opacity: 0.5;
} 

.mesamis h2 {
    text-align: center;
}

.attente {
    border-style: solid;
    border-width: 1px;
    border-color: #1c9db0;
    margin-top: 50px;
    padding: 20px;
    width: 300px;
}

.amis {
    border-style: solid;
    border-width: 1px;
    border-color: #1c9db0;
    margin-top: 50px;
    padding: 20px;
    width: 300px;
}

.recherche {
    border-style: solid;
    border-width: 1px;
    border-color: #1c9db0;
    margin-top: 50px;
    padding: 20px;
    width: 300px;
}

.recherche h4 {
    margin-bottom: 10px;
}

.rechbout {
    margin-bottom: 10px;
}

 .tete {
    color: white;
    padding: 20px;
    margin: 0px;
    background-color: #1c9db9;
    font-family: 'aileron';
    font-size: 20pt;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    font-family: 'aileron';
    justify-content: space-between;
}

.container a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
    margin-right: 20px;
}

.bonjour {
    font-family: 'aileron';
    font-weight: lighter;
    font-size: 20pt;
    margin-left: 80px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    color: #1c9db0;
}

.bonjour a {
    color: #1c9db0;
    text-decoration: none;
    font-size: 15pt;
}

/*recherche.php*/

.bouton3 {
    text-decoration: none;
    font-family: 'aileron';
    color: #1c9db0;
} 

.bouton3:hover {
  opacity: 0.5;
} 

/*attente.php*/

.bouton4 {
    text-decoration: none;
    font-family: 'aileron';
    color: #1c9db0;
    border: #1c9db0 1px solid;
    background-color: white;
    padding: 5px;

} 

.bouton4:hover {
  opacity: 0.5;
} 

/*page erreur 404*/

.pls {
    width: 400px;
    height: 300px;
}

p {
    font-family: 'aileron';
    display: flex;
    justify-content: center;
    font-size: 15pt;
}

/*footer*/

footer {
    background-color: #1c9db0;
    position: absolute;
    bottom:0;
    width:100%;
    height: 60px;
    color: white;
}

footer p {
    padding-top: 1.5%;
}

/*responsive*/
@media screen and (max-width: 600px){
    h4{
        font-size: 10px;
    }

    h3 {
        font-size: 10px;
    }

    h2 {
        font-size: 10px;
    }

    .moi{
        width: 300px;
    }
    
    .mesamis {
        width: 200px;
    }

    .mesamis a {
        font-size: 10px;
    }
    .mur {
        width: 300px;
    }

    .attente, .amis, .recherche{
        width: 100%;
        min-height: 100px;
    }

    .rechbout {
        width: 100px;
        font-size: 10px;
    }

    .ensemble {
        padding-bottom: 20%;
    }

    .carre {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
        margin-top: 10%;
        height: 100%;
        width: 80%;
        margin-left: 10%;
    }
}
